<div class="flex justify-center w-full bg-black text-white">
    <div class="flex justify-between max-w-1440 min-w-full xl:min-w-1440  xl:px-16 lg:px-16">
        <div class="w-2/12">
            <img class="p-3"
                 alt="shop-logo">
        </div>
        <div class="w-10/12 flex justify-end p-3 text-nav tracking-wide">
            <div class="pr-2.4r ">FIXED PACK</div>
            <div class="pr-2.4r">MIXED PACK</div>
            <div class="pr-2.4r">4 PACK</div>
            <div>BAG (0)</div>
        </div>
    </div>
</div>
