<div class="flex justify-center w-full text-white bg-black">
    <div class="w-full flex justify-between bg-black max-w-1440 xl:min-w-1376 xl:px-16 lg:px-5">
        <div class="w-2/12">
            <img class="py-3 md:pl-5"
                 alt="shop-logo">
        </div>

        <div class="bg-black w-10/12 flex justify-end py-3 text-nav tracking-wide">
            <div class="pr-2.4r">FIXED PACK</div>
            <div class="pr-2.4r">MIXED PACK</div>
            <div class="pr-2.4r">4 PACK</div>
            <div>BAG (0)</div>
        </div>
    </div>
</div>
